openapi: 3.1.0
info:
  title: Notion API
  version: v1.0.0
  description: >
    🚨 重要: このOpenAPI仕様は標準的なNotion APIとは異なる特殊な実装を含みます。
    GPTsでの利用を前提とした、カスタマイズされたリバースプロキシ用の設定です。

servers:
  - url: https://gpts-notion-reverse-proxy.rioto3.jp/https://api.notion.com

paths:
  /v1/pages:
    post:
      description: >
        Notion ページを作成する（特殊な実装）

        🚨 重要: 標準的なNotion API仕様とは大きく異なる実装方法です。
        
        主な注意点:
        - プロパティと子要素を単一の文字列 (propertiesAndChildrenString) で渡す
        - JSONデータは完全にエスケープされた文字列として送信する必要がある
        - 標準のNotion APIドキュメントに記載のない独自の拡張仕様を使用

      x-important-notes:
        - このAPIを使用する際は、必ずJSONを完全にエスケープし、文字列として送信すること
        - プロパティと子要素の構造は通常のNotion API形式とは異なる
        - JSONの文字列内部は正確にフォーマットされている必要がある
        - エラーを避けるため、JSONのエスケープと構造に細心の注意を払うこと

      x-openai-isConsequential: false
      operationId: createPage
      tags:
        - Pages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - propertiesAndChildrenString
              properties:
                parent:
                  type: object
                  required:
                    - type
                    - database_id
                  properties:
                    type:
                      type: string
                      enum:
                        - database_id
                      default: database_id
                    database_id:
                      type: string
                propertiesAndChildrenString:
                  type: string
                  description: >
                    🔑 特殊な実装: JSONデータを完全にエスケープした文字列として送信
                    
                    注意:
                    - 通常のNotion APIとは異なる形式
                    - JSONは完全にエスケープされている必要がある
                    - プロパティと子要素を単一の文字列として渡す

              example:
                parent:
                  type: database_id
                  database_id: database_id_here
                propertiesAndChildrenString: '{\"properties\":{\"Name\":{\"title\":[{\"text\":{\"content\":\"新しいInboxタスク\"}}]}},\"children\":[{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"text\":{\"content\":\"タスクの詳細\"}}]}},{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"ここに本文を入力します。これは一般的な段落です。\",\"link\":null}}]}}]}'

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  object:
                    type: string
                  created_time:
                    type: string
                  last_edited_time:
                    type: string
                  parent:
                    type: object
                  archived:
                    type: boolean
                  properties:
                    type: object
                  url:
                    type: string
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error

  # 他のエンドポイントは省略（元のファイルと同じ）

components:
  schemas: {}
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
